# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# DBs & Caches
chroma_db/
*.sqlite3
*.db
bm25_cache.pkl
.cache/
.chroma/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/
.pytest_cache/

# Data
data/
docs/
*.pdf
*.txt

